.header {
    padding: 48px 107px 31px 97px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .humbeger {
        border: 1px solid $vang;
        padding: 7px;
        display: none;
        .line {
            width: 39px;
            height: 4px;
            margin: 4px 0;
            background-color: #e1b838;
        }
    }
    .header__list {
        ul {
            .chil {
                z-index: 1;
                position: relative;
            }
            .chil:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                background: $vang;
                transition: all 0.3s ease;
            }
            .chil:hover {
                a {
                    color: black;
                }
            }
            .chil:hover:after {
                top: 0;
                height: 100%;
            }
            .chil:active {
                top: 2px;
            }
            .chil1 {
                z-index: 1;
                position: relative;
            }
            .chil1:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                background: $vang;
                transition: all 0.3s ease;
            }
            .chil1:hover {
                a {
                    color: black;
                }
            }
            .chil1:hover:after {
                top: 0;
                height: 100%;
            }
            .chil1:active {
                top: 2px;
            }
            .chil2 {
                z-index: 1;
                position: relative;
            }
            .chil2:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                background: $vang;
                transition: all 0.3s ease;
            }
            .chil2:hover {
                a {
                    color: black;
                }
            }
            .chil2:hover:after {
                top: 0;
                height: 100%;
            }
            .chil2:active {
                top: 2px;
            }
            // .chil:hover {
            //     background: $vang;
            //     a {
            //         color: black;
            //     }
            // }
            // .chil1:hover {
            //     background: $vang;
            //     a {
            //         color: black;
            //     }
            // }
            // .chil2:hover {
            //     background: $vang;
            //     a {
            //         color: black;
            //     }
            // }
            border: 3px solid $vang;
            display: flex;
            a {
                font-size: 33.33px;
            }
            .chil1 {
                padding: 10px 50px 10px 55px;
            }
            .chil2 {
                padding: 10px 25px 10px 55px;
            }
            .chil {
                padding: 10px 40px;
            }
        }
    }
}

.show__header {}