.banner {
    height: 59rem;
    .owl-theme .owl-dots .owl-dot {
        zoom: 2.4;
    }
    .owl-theme .owl-dots,
    .owl-theme .owl-nav {
        transform: translateY(-88px);
        -webkit-tap-highlight-color: transparent;
    }
    .owl-theme .owl-dots .owl-dot span {
        background: none;
        border: 1px solid $vang;
        margin: 5px;
    }
    .owl-theme .owl-dots .owl-dot span:active {
        background: $vang;
    }
    .banner__chil {
        text-align: center;
        .item {
            width: 100%;
            .raw {
                .item__chil {
                    img {}
                    .opening {
                        transform: translateY(71px);
                        width: 100%;
                        border: 10px solid $vang;
                        h1 {
                            padding-bottom: 13px;
                            font-size: 44.74px;
                            font-weight: 800;
                            background-color: $vang;
                        }
                        p {
                            margin-top: 15px;
                            font-size: 41.21px;
                        }
                    }
                    #open {
                        margin-top: 122px;
                        font-size: 42.57px;
                        font-weight: 100;
                    }
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}